.dashboardFAQ-wrapper-primary {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;

    .FAQ-columnOne-wrap {
        width:100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4%;
        
        div {
            h1 {
                text-align: center;
                font-size: 3rem;
            }
        }
    }

    .FAQ-columnTwo-wrap {
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3%;
    }

    .p-stepper .p-stepper-panels {
        background-color: #f4f2ee !important;
    }

    .p-stepper .p-stepper-header .p-stepper-action {
        background-color: #f4f2ee;
    }
}


@media (max-width: 768px) {
    .dashboardFAQ-wrapper-primary {
        grid-template-columns: 1fr !important;

        .FAQ-columnOne-wrap {
            margin-bottom: 5rem !important;
        }
    }
}

@media (max-width: 450px) {
    .dashboardFAQ-wrapper-primary {

        .FAQ-columnOne-wrap {
            width: 66% !important;

            div {
                h1 {
                    font-size: 2.2rem !important;
                    text-align:unset !important;
                }
            }
        }

        .FAQ-columnTwo-wrap {
            width: 100% !important;


            .justify-content-center {
                width: 69%;
            }
        }
    }
}