/* General styling for text alignment and font sizes */
.center {
    text-align: center;
}
.font-3rem {
    font-size: 3rem;
}
.marginBottom-5rem {
    margin-bottom: 5rem;
}

/* Main wrapper for FAQ section */
.dashboardFAQ-wrapper-primary {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    row-gap: 0%;

    /* Responsive layout adjustments */
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    /* Styles for the first column of the FAQ section */
    .FAQ-columnOne-wrap {
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4%;
        margin-bottom: 0;
        padding-bottom: 0;
        
        div {
            h1 {
                text-align: center;
                font-size: 3rem;
            }
        }
    }

    /* Styles for the second column of the FAQ section */
    .FAQ-columnTwo-wrap {
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3%;
    }

    /* Custom styling for PrimeReact Stepper component */
    .p-stepper .p-stepper-panels {
        background-color: #e2e8f0 !important;
    }

    .p-stepper .p-stepper-header .p-stepper-action {
        background-color: #e2e8f0;
    }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .dashboardFAQ-wrapper-primary {
        grid-template-columns: 1fr !important;

        .FAQ-columnOne-wrap {
            margin-bottom: 5rem !important;
        }
    }
}

@media (max-width: 450px) {
    .dashboardFAQ-wrapper-primary {

        .FAQ-columnOne-wrap {
            width: 66% !important;

            div {
                h1 {
                    font-size: 2.2rem !important;
                    text-align: unset !important;
                }
            }
        }

        .FAQ-columnTwo-wrap {
            width: 100% !important;

            .justify-content-center {
                width: 69%;
            }
        }
    }
}
