// Container for the sign-in background
.signIn-bg-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../../assets/img/officeBg2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.title {
    color: black;
}

.password-addon {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px;
}

.login-btn {
    display: block;
    justify-content: flex-end;
}

// Main wrapper for the sign-in content
.SignIn-Wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-inline: 20%;

    // Form wrapper with transformations and styling
    .signIn-form-wrapper {
        transform: translate(15%);
        padding: 4%;
        width: 70%;
        height: auto;
        background: #fff;
        border-radius: 10px;

        // Margin for inner divs
        div {
            margin-bottom: 5%;
        }

        // Styling for the heading
        h1 {
            font-size: 5vh;
            text-align: center;
        }
    }

    .signin-bottom-text {
        font-size: 2vh;
        text-align: center;
    }
}   

// Utility class for setting width
.wrapper-width-80 {
    width: 80%;
    height: auto;
}

.w-100 {
    width: 100%;
}

.top-10 {
    margin-top: 10%;
}

// Utility class for translation
.wrapper-trans-10 {
    transform: translate(10%);
}

// Utility class for font size
.font-resize-2vw {
    font-size: 1.1vw;
}

.signin-bottom-text {
    font-size: 2vh;
    text-align: center;
}


// Media query to handle smaller screen sizes
@media (max-width:768px) {
    .signIn-form-wrapper {
        transform: translate(-14%) !important;
        width: 140% !important;
        height: auto !important;
    }

    .signin-bottom-text {
        margin-bottom: 15vh !important;
    }

    .wrapper-trans-down-media {
        // transform: translate(20%,18%) !important;
    }

    // Utility class for translation
    .wrapper-trans-10 {
        transform: translate(10%,5%) !important;
    }
}
