// Styles for the main container
.window-sizer {
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f4f2ee;
}

// Grid layout for the interior sections
.interior-wrapper-grid {
    background-color: #f4f2ee;
    width: 100%;
    height: 120vh;
    position: relative;
    display: grid;
    grid-template-columns: .7fr 1.2fr .7fr;
    padding: 2%;

    // Styles for the user profile column
    .interior-userProfile-column {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5%;
        width: 90%;
        height: auto;
        border-radius: 25px;
        background-color: white;
        padding: 10%;
        z-index: 1;

        // Wrapper for user information row
        .userInfo-row-wrapper {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    // Styles for user function buttons
    .interior-userFunction-wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10%;
        transform: translate(5%);
    }

    // Wrapper for log out button
    .logOut-Btn-wrapper {
        width: 100%;

        // Styles for the log out button
        .logOut-Btn {
            width: 100%;
            transform: translateY(-30%);

        }
    }

    // Wrapper for the post section with scroll overflow
    .post-section-overflow {
        width: 100%;
        height: auto;
        max-height: 100vh;
        overflow-y: scroll;
        padding: 2%;
    }

    // Styles for the post column
    .interior-post-column {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0%;

        // Wrapper for the top section information
        .topSection-info-wrap {
            width: 100%;
            max-height: 200px; 
            background-color: wheat;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            margin-bottom: 0;
            text-align: center;
            overflow: hidden; 
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        // Wrapper for each post card
        .post-card-wrap {
            width: 100%;
            height: auto;
            max-height: 350px;
            display: block;
            background-color: white;
            padding: 5%;
            border-radius: 25px;
            margin-bottom: 5%;
            margin-top: 2%;

            // Wrapper for user information in the post card
            .post-user-wrap {
                width: 100%;
                height: auto;
                display: flex;
                column-gap: 5%;
                margin-bottom: 10px;

                // Grid for user information
                .user-info-grid {
                    width: 50%;
                    height: auto;
                    display: block;

                    // Margin for elements within user information grid
                    .mb-2 {
                        margin-bottom: 5px;
                    }
                }
            }

            // Flex container for content within the post card
            .flex {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
            }
        }
    }

    // Styles for the filter column
    .interior-filter-column {
        width: 100%;
        height: auto;
        max-height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        background-color: white;
        border-radius: 25px;
        margin-left: 5%;

        // Wrapper for the filter title
        .filter-title {
            width: 100%;
            padding: 5%;
            font-size: 2vh;
        }

        // Container for search bar
        .search-bar-container {
            width: 300px;
            margin: 20px auto;
            text-align: center;
        }
        
        // Styles for search input
        .search-input {
            width: 100%;
            border-radius: 30px;
        }

        // Container for dropdown tags
        .dropdown-tag-container {
            margin: 20px;
        }
        
        // Styles for job type dropdown
        .job-type-dropdown {
            width: 100%;
            margin-bottom: 20px;
        }

        // Styles for industry dropdown
        .industry-dropdown {
            width: 100%;
            margin-bottom: 20px;
        }   
        
        // Container for selected tags (job types and industries)
        .selected-tags {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
        }
        
        // Styles for individual selected tag
        .selected-tag {
            margin-right: 10px;
            margin-bottom: 10px;
        }
            
    }
}

// Center text alignment
.text-center {
    text-align: center;
}

// Font size utilities
.font-3vh {
    font-size: 3vh;
}

.font-2vh {
    font-size: 2vh;
}

// Responsive styles for screens smaller than 1000px
@media (max-width: 1000px) {
    .interior-userFunction-wrapper {
        grid-template-columns: 1fr !important;
        row-gap: 10%;
        transform: translate(37%) !important;
        margin-bottom: 20px;
    }
}

// Responsive styles for screens smaller than 768px
@media (max-width: 768px) {
    .interior-userFunction-wrapper {
        grid-template-columns: 1fr !important;
        row-gap: 10%;
        transform: translate(37%) !important;
        margin-bottom: 20px;
    }

    .userInfo-row-wrapper {
        grid-template-columns: 1fr !important;
    }

    .interior-userProfile-column {
        row-gap: 0% !important;
        width: 90%;
        height: 110vh !important;
    }

    .interior-wrapper-grid {
        grid-template-columns: 1fr;
        row-gap: 5%;
    }

    .interior-filter-column {
        margin-left: 0% !important;
    }
}
